.mod__videotext label, .mod__videocategories  label{
    display: block;
    color: white;
    font-size: 20px;
    margin-bottom: 8px;
}
.mod__videotext input, .mod__videocategories  select {
    width: 90%;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #202020;
    border-radius: 8px;
    border: 2px solid #a5a5a543;
    color: #A5A5A5;
    padding: 10px;
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    .mod__videotext label, .mod__videocategories  label{
        font-size: 20px;
        margin-bottom: 12px;
    }
}